/*
Author: 
Support: 
Description: 
Version: 1.0
*/
/* CSS Index
-----------------------------------
1.default css
2.header section
3.capabilities section
4.data-center section 
5.comparison section
6.technology-comparison section

-----------------------------------

/* font  family  */
@font-face {
	font-family: 'Metropolis';
	src: url('../fonts/Metropolis-Black.woff2') format('woff2'),
		url('../fonts/Metropolis-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Metropolis';
	src: url('../fonts/Metropolis-ExtraBold.woff2') format('woff2'),
		url('../fonts/Metropolis-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Metropolis';
	src: url('../fonts/Metropolis-Bold.woff2') format('woff2'),
		url('../fonts/Metropolis-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Metropolis';
	src: url('../fonts/Metropolis-SemiBold.woff2') format('woff2'),
		url('../fonts/Metropolis-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Metropolis';
	src: url('../fonts/Metropolis-Medium.woff2') format('woff2'),
		url('../fonts/Metropolis-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Metropolis';
	src: url('../fonts/Metropolis-Regular.woff2') format('woff2'),
		url('../fonts/Metropolis-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Metropolis';
	src: url('../fonts/Metropolis-Light.woff2') format('woff2'),
		url('../fonts/Metropolis-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Metropolis';
	src: url('../fonts/Metropolis-ExtraLight.woff2') format('woff2'),
		url('../fonts/Metropolis-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Metropolis';
	src: url('../fonts/Metropolis-Thin.woff2') format('woff2'),
		url('../fonts/Metropolis-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
@font-face {
    font-family: 'Acumin Pro';
    src: url('../fonts/AcuminPro-Regular.eot');
    src: url('../fonts/AcuminPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AcuminPro-Regular.woff2') format('woff2'),
        url('../fonts/AcuminPro-Regular.woff') format('woff'),
        url('../fonts/AcuminPro-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('../fonts/AcuminPro-Medium.eot');
    src: url('../fonts/AcuminPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AcuminPro-Medium.woff2') format('woff2'),
        url('../fonts/AcuminPro-Medium.woff') format('woff'),
        url('../fonts/AcuminPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('../fonts/AcuminPro-Bold.eot');
    src: url('../fonts/AcuminPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AcuminPro-Bold.woff2') format('woff2'),
        url('../fonts/AcuminPro-Bold.woff') format('woff'),
        url('../fonts/AcuminPro-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Acumin Pro Condensed';
    src: url('../fonts/AcuminProCond-Medium.eot');
    src: url('../fonts/AcuminProCond-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AcuminProCond-Medium.woff2') format('woff2'),
        url('../fonts/AcuminProCond-Medium.woff') format('woff'),
        url('../fonts/AcuminProCond-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Acumin Pro Condensed';
    src: url('../fonts/AcuminProCond-Regular.eot');
    src: url('../fonts/AcuminProCond-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AcuminProCond-Regular.woff2') format('woff2'),
        url('../fonts/AcuminProCond-Regular.woff') format('woff'),
        url('../fonts/AcuminProCond-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Acumin Pro Condensed';
    src: url('../fonts/AcuminProCond-Bold.eot');
    src: url('../fonts/AcuminProCond-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AcuminProCond-Bold.woff2') format('woff2'),
        url('../fonts/AcuminProCond-Bold.woff') format('woff'),
        url('../fonts/AcuminProCond-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}


body {
	font-size: 16px;
	line-height: 1.5;
	font-weight: 400;
	font-family: "Acumin Pro",sans-serif;
	color: #FFFFFF;
}
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	-ms-scroll-chaining: none;
	    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

/* lenis */

/* scroll bar */
.os-scrollbar-handle {
	background: #C9333D;
}

body>.os-scrollbar {
	z-index: 999;
}

/* scroll bar */

img {
	max-width: 100%;
	height: auto;
}

/* animation */
.animation-line {
	overflow: hidden;
}

/* animation */

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	color: #000;
}


.bg-fix {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* z-index */
.z-4 {
	z-index: 4 !important;
}

.z-5 {
	z-index: 5 !important;
}

.z-6 {
	z-index: 6 !important;
}

.z-7 {
	z-index: 6 !important;
}

/* z-index */
.section-padding{
	padding: 128px 0;
}
/* input */
input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="password"], input[type="url"], textarea {
    width: 100%;
	color: rgba(255, 255, 255, 0.80);
	font-family: "Acumin Pro",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    opacity: 1;
	display: block;
	border-radius: 2px;
	border: 1px solid #FFF;
	background: rgba(39, 39, 42, 0.50);
	padding: 12px;
}

textarea {
    height: 180px;
    border-radius: 8px;
}

input:focus,
textarea:focus {
	outline: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}
::placeholder {
	color: rgba(255, 255, 255, 0.80);
	font-family: "Acumin Pro",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

/* input */


.animation-line p:last-child,
.mb-p p:last-child {
	margin-bottom: 0;
}

/* heading  style*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Acumin Pro Condensed" , sans-serif;
	font-weight: 700;
	line-height: 0.9; 
	text-transform: uppercase;
	color: #FFFFFF;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 64px;
}

h3 {
	font-size: 48px;
}

h4 {
	font-size: 40px;
}

h5 {
	font-size: 32px;
}

h6 {
	font-size: 24px;
}

.container{
	max-width: 1468px;
}

/* all button */
.btn-1 {
    color: #FFF;
    font-family: "Acumin Pro",sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 100px;
    border: 2px solid #FFF;
    padding: 9px 17px;
    text-align: center;
	transition: all 0.3s linear;
}
.btn-1:hover,
.btn-1.version-2 {
    background: #C9333D;
    border-color: #C9333D;
	color: #fff;
}
.btn-1.version-2:hover{
	background: transparent;
	border-color: #fff;
}
.white-bg .btn-1:hover,
.btn-1.version-3 {
    border-color:#134060;
    color: #134060;
}
.white-bg .btn-1.version-3:hover ,
.btn-1.version-3:hover{
    border-color: #C9333D;
    color: #FFFFFF;
}
.svg-rotate svg path ,
.svg-rotate svg{
    transition: all 0.3s linear;
}
.svg-rotate:hover svg{
    transform: rotate(-90deg);
}
.svg-rotate:hover svg path:nth-child(1){
    fill: #FFFFFF;
}
.svg-rotate:hover svg path:nth-child(2){
    fill: #C9333D;
}

/* all button */

/* header section start */
.header-area {
    position: absolute;
    z-index: 999;
    width: 100%;
    overflow: hidden;
}
.header-area::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    background: #C9333D;
    z-index: -1;
    width: 100%;
}
.header-area .container {
    max-width: 1664px;
}
.main-menu-area {
    position: relative;
    z-index: 3;
    padding: 60px 0 8px;
}
.main-menu-area::after, .main-menu-area::before {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: calc(100% + 5000px);
    background: #E9E9E9;
    z-index: -1;
    transform: skewX(-30deg) translateX(87.6%);
}
.main-menu-area::after {
    height: 3px;
    background: #D1D2D3;
    transform: translateX(87.74%);
    top: 33px;
}
.main-menu-area ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    z-index: 1;
}
.main-menu-area ul li:last-child{
	margin-right: 0;
}
.main-menu-area ul li a{
    color: #3A3737;
    font-weight: 600;
    letter-spacing: 0.8px;
    text-transform: uppercase;
	transition: all 0.3s linear;
}
.main-menu-area ul li::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    width: 100%;
    height: 8px;
    background: #C9333D;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s linear;
}
.main-menu-area ul li:hover::before{
    opacity: 1;
    visibility: visible;
}
.main-menu-area ul li a:hover{
	color: #3A3737;
}
.main-menu-line-wrapper, .red-line-wrapper {
    position: absolute;
    top: 0;
    left: 25px;
    z-index: -1;
    display: flex;
    gap: 8px;
}
.main-menu-line-item, .red-line-item {
    display: block;
    width: 3px;
    height: 92px;
    background: #C9333D;
    transform: skewX(-30deg);
}
.main-menu-line-wrapper {
    left: 88px;
}
.main-menu-line-item {
    height: 33px;
    width: 3px;
    background: #D1D2D3;
}
.header-area .col:nth-child(2) {
    max-width: 800px;
}


/* header offcanvas start*/
.header-offcanvas::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
	background: radial-gradient(196.59% 99.98% at 49.12% 4.99%, rgba(19, 64, 96, 0.00) 0%, rgba(0, 71, 121, 0.35) 75.48%, rgba(19, 64, 96, 0.35) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%);
    z-index: -1;
}
.mobile-nav {
    padding: 20px 0;
}
.humbarger-btn {
	border: 0;
	height: 43px;
	width: 43px;
	background: #C9333D;
	-webkit-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
	position: relative;
}

.humbarger-btn span {
    display: block;
    background-color: #FFFFFF;
    height: 4px;
    width: 27px;
    position: absolute;
    top: 25px;
    transition: background-color ease .3s, top ease .3s .3s, transform ease .3s, -webkit-transform ease .3s;
    left: 50%;
    -webkit-transform: translate(-50%, -1.5px);
        -ms-transform: translate(-50%, -1.5px);
            transform: translate(-50%, -1.5px);
}

.humbarger-btn span:nth-child(1) {
	top: 13px;
}

.humbarger-btn span:nth-child(2) {
    top: 21px;
}
.humbarger-btn span:nth-child(3) {
    top: auto;
    bottom: 10px;
}
.offcanvas-translate-div {
    gap: 40px;
}
.btn-close {
	--bs-btn-close-bg: none;
	--bs-btn-close-opacity: 1;
	--bs-btn-close-hover-opacity: 1;
	border: 0;
	border-radius: 0;
	height: 43px;
	width: 43px;
	gap: 0px;
	-webkit-transition: top ease .3s, -webkit-transform ease .3s .3s;
	-o-transition: top ease .3s, transform ease .3s .3s;
	transition: background-color ease .3s, top ease .3s, transform ease .3s .3s,
		-webkit-transform ease .3s .3s;
	background-color: #C9333D;
}
.btn-close:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.offcanvas-product-filter .btn-close,
.header-offcanvas .btn-close {
	padding: 0;
	margin: 0;
}
.btn-close span {
    background-color: #FFFFFF;
    height: 5px;
    width: 27px;
    -webkit-transition: top ease .3s, -webkit-transform ease .3s .3s;
    -o-transition: top ease .3s, transform ease .3s .3s;
    transition: top ease .3s, transform ease .3s .3s,
	-webkit-transform ease .3s .3s;
}

.mobile-nav>ul>li {
	padding-bottom: 15px;
}

.mobile-nav ul>li>a {
    color: #FFF;
    font-size: 20px;
}
.has-sub-item > a.active ,
.has-sub-item:hover > a ,
.mobile-nav ul>li > a.active,
.mobile-nav ul>li:hover > a{
    color: #C9333D;
}
.mobile-nav>ul>li:last-child {
	padding-bottom: 0;
}
.mobile-nav .sub-menu li a:hover {
	color: #C9333D;
}
/* header offcanvas end*/

/* header section end */


/* capabilities section */
.capabilities-section-area .container {
    max-width: 884px;
}
.capabilities-content-wrapper {
    max-width: 802px;
    margin-right: 0;
    margin-left: auto;
}
.capabilities-section-area {
    padding: 173px 0 81px;
}
.capabilities-content-wrapper h1 {
    font-size: 64px;
}
/* font metropolis */
.capabilities-list-info .capabilities-list-wrapper p ,
.capabilities-content-wrapper p{
    font-family: "Metropolis",sans-serif;
}
/* font-size 20px */
.industry-slider-content-wrapper ul li,
.industry-slider-content-wrapper p,
.product-features-list-wrapper ul li a ,
.product-hero-content p ,
.feature-points ul li ,
.comparison-content-wrapper .section-title-wrapper p ,
.data-content-content p,
.capabilities-content-wrapper p {
    font-size: 20px;
}
/* line-height 1.2 */
.technology-comparison-content h5 ,
.capabilities-list-wrapper h5 {
    line-height: 1.2;
}
.capabilities-list-wrapper h5{
	margin-bottom: 24px;
}
/* list style none */
.industry-slider-content-wrapper ul,
.product-features-list-wrapper ul ,
.feature-points ul ,
.mobile-nav ul,
.main-menu-area ul ,
.capabilities-list-wrapper ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.industry-slider-content-wrapper ul li ,
.feature-points ul li ,
.capabilities-list-wrapper ul li{
    position: relative;
    z-index: 1;
}

.capabilities-list-wrapper ul li {
    font-family: "Metropolis",sans-serif;
    line-height: 2;
    padding-left: 28px;
}
.capabilities-list-wrapper ul li::before {
    content: "";
    position: absolute;
    left: 4px;
    top: 5px;
    height: 16px;
    width: 10px;
    border-bottom: 2px solid #C9333D;
    border-right: 2px solid #C9333D;
    transform: rotate(45deg);
    z-index: -1;
}
.capabilities-section-area::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(196.59% 99.98% at 49.12% 4.99%, rgba(19, 64, 96, 0.00) 0%, rgba(0, 71, 121, 0.35) 75.48%, rgba(19, 64, 96, 0.35) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%);
    z-index: -1;
}
/* capabilities section */


/* data-center section  */
.data-center-section-area {

    padding: 412px 0 128px;
}
.common-border-bottom{
    border-bottom: 8px solid #C9333D;
}
.common-title {
    font-size: 96px;
}
.data-center-video-item {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
}
.data-center-section-area::before{
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	background: linear-gradient(180deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.00) 24.32%), radial-gradient(196.59% 99.98% at 49.12% 4.99%, rgba(19, 64, 96, 0.00) 0%, #004779 75.48%, #134060 100%);
}
.data-content-content {
    max-width: 720px;
}
/* data-center section  */

/* comparison section  */
.comparison-section {
    background: radial-gradient(50% 50% at 50% 50%, rgba(217, 217, 217, 0.10) 0%, rgba(28, 28, 28, 0.10) 100%), linear-gradient(0deg, #134060 0%, #00000B 100%);
}
.comparison-line-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
}
.comparison-line-item {
    position: absolute;
    top: 0;
    left: 0;
    height: 52px;
    width: calc(100% + 5000px);
    background: linear-gradient(90deg, rgba(19, 64, 96, 0.25) 0%, rgba(19, 64, 96, 0.50) 100%);
    transform: skewX(-30deg) translateX(-86%);
	z-index: -1;
}
.comparison-line-item:nth-child(2) {
    top: 107px;
    left: -78px;
}
.comparison-line-item:nth-child(3) {
    top: 214px;
	left: -156px;
}
.common-title span {
    color: #C9333D;
}

.capabilities-list-info .capabilities-list-wrapper:last-child{
	margin-bottom: 0;
}
.capabilities-list-info .capabilities-list-wrapper p {
    padding-left: 29px;
}
.comparison-img-wrapper {
    max-width: 600px;
}
.comparison-content-wrapper {
    max-width: 580px;
    padding-left: 18px;
}
.comparison-content-item.content-reverse .row {
    flex-direction: row-reverse;
}
.product-hero-area .comparison-line-item ,
.comparison-content-item.content-reverse .comparison-line-item {
    left: auto;
    transform: skewX(30deg) translateX(98.4%);
    right: 0;
}
.product-hero-area .comparison-line-item:nth-child(2),
.comparison-content-item.content-reverse .comparison-line-item:nth-child(2) {
    right: -78px;
}
.product-hero-area .comparison-line-item:nth-child(3),
.comparison-content-item.content-reverse .comparison-line-item:nth-child(3) {
    right: -156px;
}
.comparison-content-item.content-reverse .comparison-content-wrapper {
    padding-left: 0;
}
.comparison-content-item {
    margin-bottom: 122px;
}
.comparison-content-item:last-child {
    margin-bottom: 0;
}
.capabilities-list-info .capabilities-list-wrapper ,
.industry-slider-title-info,
.comparison-content-wrapper .section-title-wrapper,
.comparison-content-wrapper .common-title{
	margin-bottom: 32px;
}
/* comparison section  */

/* technology-comparison section */
.technology-comparison.white-bg {
    padding: 128px 0 65px;
}
/* white-bg */
.white-bg li,
.white-bg h5,
.white-bg p,
.white-bg h2{
	color: #134060;
}
.white-bg .comparison-line-item {
    background: linear-gradient(90deg, rgba(242, 242, 242, 0.50) 0%, #F2F2F2 100%);
}



.technology-comparison .container{
	max-width: 1432px;
}
.technology-comparison-img-wrapper {
    margin-bottom: 39px;
    min-height: 390px;
}
.technology-comparison-img-wrapper .tc-img-01 {
    max-width: 618px;
}
.technology-comparison-img-wrapper .tc-img-02 {
    max-width: 581px;
}
.technology-comparison-content {
    margin-left: 161px;
}
.feature-points ul li {
    color: #010101;
	padding-left: 20px;
}
.industry-slider-content-wrapper ul li::before ,
.feature-points ul li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 14px;
    height: 4px;
    width: 4px;
    background: #010101;
	z-index: -1;
}
.feature-points ul {
    margin-left: 16px;
}
.tc-shape-01 {
    position: absolute;
    bottom: -71px;
    left: 84px;
    max-width: 123px;
}
.tc-shape-02 {
    position: absolute;
    right: 92px;
    bottom: -71px;
    max-width: 124px;
}
.technology-comparison .col-lg-6:nth-child(2) .technology-comparison-content {
    margin-left: 124px;
}
.technology-comparison .col-lg-6:nth-child(2) .technology-comparison-content h5 {
    padding-right: 60px;
}
/* technology-comparison section */

/* contact-form-section */
.contact-form-section {
    background: linear-gradient(180deg, #134060 0%, #00000B 100%);
    padding: 128px 0 165px;
}
.contact-form-section .section-title-wrapper p{
	font-size: 24px;
}
.contact-form-section .row {
    --bs-gutter-x: 16px;
    --bs-gutter-y: 16px;
}
.contact-form-section .container {
    max-width: 982px;
}
.contact-form-info.email-input-info{
    width: 767px;
}
.scroll-btn ,
.back-btn {
    color: #FFF;
    font-weight: 700;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    transition: all 0.3s linear;
}
.contact-form-section .back-btn {
    position: absolute;
    right: 100px;
    top: 130px;
    z-index: 999;
}
.scroll-btn svg ,
.back-btn svg {
    display: block;
    opacity: 0.5;
    transition: all 0.3s linear;
}
.back-btn:hover svg{
    opacity: 1;
}
.scroll-btn:hover ,
.back-btn:hover{
    color: #C9333D;
}
/* nice select */
.nice-select {
    border-radius: 2px;
    border: 1px solid #FFF;
    font-size: 16px;
    font-weight: normal;
    height: 50px;
    text-align: right !important;
    background-color: transparent;
    padding-right: 36px;
	line-height: 46px;
	background: rgba(39, 39, 42, 0.50);
	color: rgba(255, 255, 255, 0.80);
}
.nice-select:after {
    border-bottom: 0;
    border-right: 0;
    height: 0;
    margin-top: -6px;
    transform: rotate(0deg);
    width: 0;
    border-left: 8.5px solid transparent;
    border-right: 8.5px solid transparent;
    border-top: 12px solid #555;
    top: 50%;
    right: 12px;
}
.nice-select.open:after {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-180deg);
    margin-top: -12px;
    right: 18px;
}

.nice-select .list {
    background-color: #E9E9E9;
    border-radius: 2px;
	color: #010101;
}
.nice-select .option:hover,
.nice-select .option.focus, 
.nice-select .option.selected.focus{
	background: #C9333D !important;
	color: #010101;
}
.information-box-wrapper p {
    font-size: 17px;
    margin-bottom: 8px;
}
.wpcf7-list-item-label {
    position: relative;
    z-index: 1;
    padding-left: 36px;
    letter-spacing: 1.6px;
}
.information-box-radio-wrapper .contact-form-info input[type="checkbox"],
.information-box-radio-wrapper .contact-form-info input[type="radio"]{
	display: none;
}

.wpcf7-form-control input[type="radio"] +.wpcf7-list-item-label::after, .wpcf7-form-control input[type="checkbox"] + .wpcf7-list-item-label::after, .wpcf7-form-control input[type="radio"] + .wpcf7-list-item-label::before, .wpcf7-form-control input[type="checkbox"] + .wpcf7-list-item-label::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 24px;
    width: 24px;
    background: #FFF;
    z-index: 1;
    border-radius: 100%;
    -webkit-transition: all 0.3s linear;
    -o-transition: all 0.3s linear;
    transition: all 0.3s linear;
}
.wpcf7-form-control input[type="radio"] + .wpcf7-list-item-label::after, .wpcf7-form-control input[type="checkbox"] + .wpcf7-list-item-label::after {
    height: 16px;
    width: 16px;
    background: #EBEBEB;
    top: 4px;
    left: 4px;
}
.wpcf7-list-item input[type="radio"]:checked + .wpcf7-list-item-label::after, 
.wpcf7-list-item input[type="checkbox"]:checked + .wpcf7-list-item-label::after, 
.wpcf7-form-control input[type="checkbox"] + .wpcf7-list-item-label:checked::after{
    background: #134060;
}
.contact-form-bottom-wrapper {
    margin-top: 20px;
}
.contact-form-bottom-btn .btn-1 {
    padding: 9px 23px;
}
.contact-form-wrapper {
    margin-top: 40px;
}
/* contact-form-section */

/* footer section */
.footer-area {
    background: #01010B;
    border-top: 1px solid #FFF;
}
.footer-top-area {
    padding: 64px 0 40px;
}
.footer-design-content p {
    font-size: 25px;
    font-weight: 300;
}
/* contact-form-section */


/* product-hero section */

.product-hero-area {
    padding: 261px 0 60px;
    background: #000000;
}
.product-hero-area::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    background: radial-gradient(196.59% 99.98% at 49.12% 4.99%, rgba(19, 64, 96, 0.00) 0%, #004779 75.48%, #134060 100%), linear-gradient(0deg, #000 0%, #000 100%);
}
.product-hero-area .product-hero-content {
    max-width: 673px;
}
.product-hero-area .comparison-line-item {
    transform: skewX(30deg) translateX(117.25%);
}
.product-hero-area .comparison-line-wrapper {
    top: 222px;
    z-index: 1;
}
/* product-hero section */

/* product-features section */
.product-features-area {
    padding: 146px 0 128px;
}
.product-features-area .container {
    max-width: 1584px;
}
.product-features-content h5 {
    font-style: italic;
    font-weight: 400;
    line-height: 1.2;
}
.product-features-list-wrapper ul li {
    border-bottom: 1px solid #D6D6D6;
    padding: 19.5px 12px 19.5px 0;
}
.product-features-list-wrapper ul li:last-child{
    border-bottom: 0;
}
.product-features-list-wrapper ul li a {
    color: #1C1C1D;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 18px;
    transition: all 0.3s linear;
}
.product-features-list-wrapper ul li a:hover{
    color: #C9333D;
}
.product-features-area .row{
    --bs-gutter-x:0;
}

.product-features-area .comparison-img-wrapper {
    max-width: 100%;
}
.product-features-area .comparison-img-wrapper img {
    height: 537px;
    width: 100%;
    margin-left: -20px;
}
.industry-product-img {
    margin-left: -90px;
    margin-right: -24px;
    min-width: 800px;
}

.product-features-area .col:nth-child(2) {
    min-width: 866px;
}
.product-features-area .comparison-line-wrapper {
    top: 30px;
}
.product-features-area .comparison-line-item {
    transform: skewX(-30deg) translateX(-87.42%);
}
.product-features-list-wrapper {
    max-width: 726px;
}
/* product-features section */



/* footer section  */
.footer-area .container {
    max-width: 1300px;
}
.footer-area .col:nth-child(2) {
    max-width: 327px;
}
.footer-about-content h6 {
    font-family: "Acumin Pro",sans-serif;
    font-size: 17px;
    line-height: 1.7;
}
.footer-about-content p {
    font-size: 15px;
}
.copy-right-content p {
    font-size: 14px;
}
.other-link-wrapper a {
    font-size: 14px;
	color: #fff;
	text-decoration: underline;
	transition: all 0.3s linear;
}
.other-link-wrapper a:hover{
	color: #C9333D;
	text-decoration: none;
}
.footer-bottom-content::before{
	content: "";
	position: absolute;
	left: -50%;
	top: 0;
	height: 1px;
	width: calc(100% + 5000px);
	background-color: #444;
	transform: translateX(-50%);
}
.footer-bottom-content {
    padding: 16px 0;
}
/* footer section */


/* industry-solution section */
.industry-slider-item {
    padding: 100px 0;
    height: 100vh;
}
.industry-slider-item::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(196.59% 99.98% at 49.12% 4.99%, rgba(19, 64, 96, 0.00) 0%, rgba(0, 71, 121, 0.35) 75.48%, rgba(19, 64, 96, 0.35) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0.65) 0%, rgba(0, 0, 0, 0.65) 100%);
    z-index: -1;
}
.icon-wrapper {
    height: 98px;
    width: 98px;
    background: #C9333D;
    margin-bottom: 30px;
}
.industry-slider-title-info h2 span {
    color: #FF414E;
    display: block;
}
.industry-slider-section .container {
    max-width: 702px;
}
.industry-slider-content-wrapper ul{
    margin-left: 16px;
}
.industry-slider-content-wrapper ul li{
    padding-left: 18px;
}
.industry-slider-content-wrapper ul li::before {
    background: #FFFFFF;
    top: 15px;
}
.industry-slider-list-wrapper {
    margin: 30px 0;
}
.key-performance .product-features-content  h2{
    margin-bottom: 32px;
}
.industry-slider-section .btn-1 {
    position: fixed;
    z-index: 1;
    bottom: 77px;
    left: 125px;
}
.scroll-btn {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    bottom: 64px;
    gap: 6px;
    z-index: 1;
}
.scroll-btn svg{
  opacity: 1;
  animation: scrollMove 1s infinite ease-in-out;
}

@keyframes scrollMove {
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(10px);
  }
  100%{
    transform: translateY(0);
  }
}
/* industry-solution section */