/*
Author: 
Support: 
Description: 
Version: 1.0
*/
/* CSS Index
-----------------------------------
1.default css
2.banner section
3.services-overview section
4.partnership-benefits section
5.capabilities-showcase section

-----------------------------------

/* font  family  */
@font-face {
	font-family: 'Metropolis';
	src: url('../fonts/Metropolis-Black.woff2') format('woff2'),
		url('../fonts/Metropolis-Black.woff') format('woff');
	font-weight: 900;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: 'Metropolis';
	src: url('../fonts/Metropolis-ExtraBold.woff2') format('woff2'),
		url('../fonts/Metropolis-ExtraBold.woff') format('woff');
	font-weight: 800;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Metropolis';
	src: url('../fonts/Metropolis-Bold.woff2') format('woff2'),
		url('../fonts/Metropolis-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Metropolis';
	src: url('../fonts/Metropolis-SemiBold.woff2') format('woff2'),
		url('../fonts/Metropolis-SemiBold.woff') format('woff');
	font-weight: 600;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Metropolis';
	src: url('../fonts/Metropolis-Medium.woff2') format('woff2'),
		url('../fonts/Metropolis-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Metropolis';
	src: url('../fonts/Metropolis-Regular.woff2') format('woff2'),
		url('../fonts/Metropolis-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Metropolis';
	src: url('../fonts/Metropolis-Light.woff2') format('woff2'),
		url('../fonts/Metropolis-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Metropolis';
	src: url('../fonts/Metropolis-ExtraLight.woff2') format('woff2'),
		url('../fonts/Metropolis-ExtraLight.woff') format('woff');
	font-weight: 200;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Metropolis';
	src: url('../fonts/Metropolis-Thin.woff2') format('woff2'),
		url('../fonts/Metropolis-Thin.woff') format('woff');
	font-weight: 100;
	font-style: normal;
	font-display: swap;
}
@font-face {
    font-family: 'Acumin Pro';
    src: url('../fonts/AcuminPro-Regular.eot');
    src: url('../fonts/AcuminPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AcuminPro-Regular.woff2') format('woff2'),
        url('../fonts/AcuminPro-Regular.woff') format('woff'),
        url('../fonts/AcuminPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('../fonts/AcuminPro-Medium.eot');
    src: url('../fonts/AcuminPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AcuminPro-Medium.woff2') format('woff2'),
        url('../fonts/AcuminPro-Medium.woff') format('woff'),
        url('../fonts/AcuminPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Acumin Pro';
    src: url('../fonts/AcuminPro-Bold.eot');
    src: url('../fonts/AcuminPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/AcuminPro-Bold.woff2') format('woff2'),
        url('../fonts/AcuminPro-Bold.woff') format('woff'),
        url('../fonts/AcuminPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


body {
	font-size: 18px;
	line-height: 1.5;
	font-weight: 400;
    font-family: "Metropolis",sans-serif;
	color: #000;
}
html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
	scroll-behavior: auto !important;
}

.lenis.lenis-smooth [data-lenis-prevent] {
	-ms-scroll-chaining: none;
	    overscroll-behavior: contain;
}

.lenis.lenis-stopped {
	overflow: hidden;
}

/* lenis */

/* scroll bar */
.os-scrollbar-handle {
	background: linear-gradient(90deg, #4CA6FF 0%, #AA37FE 100%);
}

body>.os-scrollbar {
	z-index: 999;
}

/* scroll bar */

img {
	max-width: 100%;
	height: auto;
}

/* animation */
.animation-line {
	overflow: hidden;
}

/* animation */

a {
	text-decoration: none;
	color: #000;
}

a:hover {
	color: #000;
}


.bg-fix {
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

/* z-index */
.z-4 {
	z-index: 4 !important;
}

.z-5 {
	z-index: 5 !important;
}

.z-6 {
	z-index: 6 !important;
}

.z-7 {
	z-index: 6 !important;
}

/* z-index */
.section-padding{
	padding: 128px 0;
}
/* input */
input[type="text"], input[type="email"], input[type="tel"], input[type="number"], input[type="password"], input[type="url"], textarea {
    width: 100%;
	color: rgba(255, 255, 255, 0.80);
	font-family: "Acumin Pro",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    opacity: 1;
	display: block;
	border-radius: 2px;
	border: 1px solid #FFF;
	background: rgba(39, 39, 42, 0.50);
	padding: 12px;
}

textarea {
    height: 180px;
    border-radius: 8px;
}

input:focus,
textarea:focus {
	outline: none;
	-webkit-box-shadow: none;
	        box-shadow: none;
}
::placeholder {
	color: rgba(255, 255, 255, 0.80);
	font-family: "Acumin Pro",sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
}

/* input */


.animation-line p:last-child,
.mb-p p:last-child {
	margin-bottom: 0;
}

/* heading  style*/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: "Metropolis",sans-serif;
	font-weight: 400;
	line-height: 1.05; 
	color: #0D1931;
}

h1 {
	font-size: 70px;
}

h2 {
	font-size: 64px;
}

h3 {
	font-size: 48px;
}

h4 {
	font-size: 40px;
}

h5 {
	font-size: 32px;
}

h6 {
	font-size: 24px;
}

.container{
	max-width: 1468px;
}

/* all button */
.btn-1 {
	display: inline-block;
    color: #FFF;
    font-family: "Acumin Pro", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.5;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    border-radius: 100px;
	position: relative;
	z-index: 2;
	transition: all 0.3s linear;

}
.btn-1 span {
    position: relative;
    z-index: 3;
    padding: 11.5px 24px;
    background: transparent;
    display: inline-block;
    border-radius: 100px;
	transition: all 0.3s linear;
}
.btn-1::after ,
.btn-1::before {
    content: "";
    position: absolute;
    left: -2px;
    top: -2px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    border-radius: 100px;
    background: linear-gradient(80deg, #4CA6FF -2.33%, #AA37FE 122.1%);
	opacity: 1;
	visibility: visible;
	transition: all 0.3s linear;
}
.btn-1:hover{
	color: #fff;
}

.btn-1:hover::before,
.btn-1:hover::after{
	opacity: 0;
	visibility: hidden;
}
.btn-1:hover::before{
	opacity: 1;
	visibility: visible;
}
.btn-1:hover span{
	background: #000;
}
/* all button */

/* common-border-bottom */
.gradient-border-bottom  ,
.common-border-top,
.common-border-bottom{
	position: relative;
	z-index: 4;
}
.common-border-top::after,
.common-border-bottom::before {
    content: "";
    position: absolute;
    left: 0;
    height: 8px;
    width: 100%;
    z-index: 4;
    background: linear-gradient(90deg, #4CA6FF 0%, #AA37FE 100%);
}
.common-border-top::after{
    top: 0;
}
.common-border-bottom::before{
	bottom: 0;
}

.section-padding{
	padding: 128px 0;
}
/* banner section */
.banner-area {
    padding: 147px 0 91px;
}
.banner-area::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: radial-gradient(184.72% 92.8% at 0% 100%, rgba(170, 55, 254, 0.35) 0%, rgba(76, 166, 255, 0.17) 50%, rgba(255, 255, 255, 0.00) 100%), radial-gradient(155.31% 114.99% at 69.91% -9.74%, rgba(19, 64, 96, 0.00) 0%, #07264B 75.48%, #051D39 100%);
	z-index: 1;
}
.banner-content {
    max-width: 872px;
}
.logo-area {
    max-width: 310px;
}
.banner-area .logo-area {
    margin-bottom: 65px;
}
.video-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
    z-index: -1;
}
/* color white */
.tech-stack-item h6  ,
.individual-services-item h5 ,
.services-overview-area h2,
.banner-content p,
.banner-content .title-xl{
    color: #FFF;
}
/* font weight 600 */
.title-xl span{
	font-weight: 600;
}
.title-xl span{
	color: #B95AFF;
}
.banner-content .title-xl span {
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.35);
}
.banner-content .title-xl {
    font-size: 96px;
    line-height: 0.9;
    margin-bottom: 20px;
}
.banner-content p {
    font-size: 32px;
    line-height: 1.25;
    max-width: 639px;
    margin-right: auto;
    margin-left: auto;
}
.banner-content .btn-1 {
    margin-top: 15px;
}
.banner-content .btn-1 span{
    padding: 11.5px 54px;
}

/* banner section */

/* services-overview section */
.services-overview-area{
	background: #051D39;
}
.services-overview-bg-1 ,
.services-overview-bg-2 {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    opacity: 0.35;
}
.services-overview-bg-1{
	z-index: 2;
	opacity: 0.65;
}
.services-overview-area .container {
    max-width: 1276px;
}
.individual-services-items {
    margin-top: 40px;
    padding: 58px 40px;
}
.individual-services-items  .row {
    --bs-gutter-x: 44px;
    --bs-gutter-y: 30px;
}
.individual-services-item h5,
.services-overview-area h2{
	line-height: 1.05;
}
.individual-shape{
    position: absolute;
    top: 0;
    left: 0;
	z-index: -1;
}
.individual-shape-2 {
    top: auto;
    bottom: 0;
    left: auto;
    right: 0;
}

/* services-overview section */

/* partnership-benefits section */
.expertise-area ,
.partnership-benefits-area {
    background: radial-gradient(184.72% 92.8% at 0% 100%, rgba(170, 55, 254, 0.35) 0%, rgba(76, 166, 255, 0.17) 50%, rgba(255, 255, 255, 0.00) 100%), #FFF;
}
.partnership-benefits-area .container {
    max-width: 1228px;
}
.partnership-benefits-area .row {
    --bs-gutter-x: 102px;
    --bs-gutter-y: 30px;
}
.partnership-benefits-items {
    margin-top: 65px;
}
/* span different color  */
.expertise-area .section-title-wrapper  h2 span ,
.partnership-benefits-area h2 span {
    color: #AA37FE;
}
.ps-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.partnership-benefits-item-content {
    margin-top: 30px;
}
/* font size 20px */
.expertise-area .section-title-wrapper p ,
.solution-section .table th ,
.partnership-benefits-item-content p{
	font-size: 20px;
}
.partnership-benefits-item-content p{
	line-height: 1.25;
}
/* partnership-benefits section */

/* capabilities-showcase section */
.capabilities-showcase-area {
    background: radial-gradient(173.22% 92.75% at 102.53% 103.72%, rgba(170, 55, 254, 0.35) 0%, rgba(76, 166, 255, 0.17) 50%, rgba(255, 255, 255, 0.00) 100%), #051D39;
    padding: 128px 0 39px;
}
.capabilities-bg{
    z-index: 1;
    opacity: 0.35;
}
.tech-stack-area {
    padding-bottom: 80px;
}

.tech-stack-area .container {
    max-width: 1230px;
}
.tech-stack-area h2{
    margin-bottom: 64px;
}
.tech-stack-area .row {
    --bs-gutter-x: 0;
}
.gradient-border-bottom::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: linear-gradient(90deg, rgba(76, 166, 255, 0.00) 0%, #4CA6FF 50%, #AA37FE 75%, rgba(170, 55, 254, 0.00) 100%);
    z-index: 1;
    max-width: 1366px;
    transform: translateX(-50%);
}
.tech-stack-area .col:nth-child(even) {
    margin-top: 140px;
}
.tech-stack-area .col {
    margin: 0 -40px;
}
.tech-stack-item h6 {
    position: absolute;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.client-logo-wrapper .container{
	max-width: 1276px;
}
.client-logo-wrapper .individual-services-items {
    margin-top: 83px;
    padding: 52px 73px;
}
.client-logo-itmes{
    gap: 31px;
}
/* capabilities-showcase section */

/* expertise section */
.expertise-area .section-title-wrapper .container {
    max-width: 865px;
}
.expertise-area .section-title-wrapper  h2 {
    margin-bottom: 30px;
}
.expertise-area .section-title-wrapper p{
    line-height: 1.25;
}
.solution-section {
    margin-top: 50px;
}
.solution-section .container {
    max-width: 1362px;
}
.solution-section .table-responsive {
    border-radius: 16px;
}
.solution-section .table {
    border-radius: 16px;
    margin: 0;
    box-shadow: 0 20px 25px -5px rgba(76, 166, 255, 0.25), 0 8px 10px -6px rgba(7, 38, 75, 0.25);
    min-width: 500px;
}
.solution-section .table th {
    background: #0D1931;
    padding: 24px 32px;
    color: #FFFFFF;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: 0.011px;
    text-transform: uppercase;
    border-right: 1px solid #314158;
}
.solution-section .table th:last-child{
    border-right: 0;
}
.solution-section .table tbody td{
    color: #0F172B;
    font-size: 18px;
    line-height: 1.44;
    letter-spacing: -0.312px;
    padding: 24px 32px;
    border-right: 1px solid #E2E8F0;
}
.solution-section .table tbody tr{
    border-bottom: 1px solid #E2E8F0;
}
.solution-section .table tbody tr:last-child{
    border-bottom: 0;
}
.solution-section .table tbody td:last-child{
    border-right: 0;
}
/* expertise section */

