/* 1400, 1199, 991, 767, 575, 480, 360, 320 */

/*
Author: 
Support: 
Description: 
Version: 1.0
*/
/* CSS Index
-----------------------------------
1.default css

-----------------------------------

/* min-width 1430 */
@media (min-width: 1430px) {}

/* min-width 1599 */
@media (max-width: 1599px) {
    
}
/* min-width 1499 */
@media (max-width: 1499px) {
  
}
/* max-width 1399 */
@media (max-width: 1399.98px) {
    

/* capabilities-showcase section */
.tech-stack-area  .col {
    flex: 1 0 50%;
    max-width: 500px;
	margin:0;
}
.tech-stack-area .col:nth-child(even) {
    margin-top: 0;
}
/* capabilities-showcase section */
}

/* max-width 1199 */
@media (max-width: 1199.98px) {
   
/* partnership-benefits section */     
.partnership-benefits-area .row {
    --bs-gutter-x: 30px;
}
/* partnership-benefits section */     




}

/* max-width 1399 - min-width 992*/
@media (max-width: 1199.98px) and (min-width: 992px) {}

/* max-width 991 */
@media (max-width: 991.98px) {
.banner-content .title-xl ,
h1 {
	font-size: 60px;
}

h2 {
	font-size: 50px;
}

h3 {
	font-size: 40px;
}

h4 {
	font-size: 36px;
}

h5 {
	font-size: 28px;
}

h6 {
	font-size: 20px;
}
.section-padding {
    padding: 70px 0;
}
/* banner section */
.banner-area .logo-area {
    margin-bottom: 40px;
}
.banner-content p {
    font-size: 24px;
}
/* banner section */

/* services-overview section */
.individual-services-items {
    margin-top: 20px;
    padding: 30px 20px;
}
/* services-overview section */

/* capabilities-showcase section */
.capabilities-showcase-area {
    padding: 70px 0 35px;
}
.tech-stack-area  .col {
    flex: 1 0 100%;
    max-width: 500px;
}
.tech-stack-area {
    padding-bottom: 30px;
}
.tech-stack-area h2{
	margin-bottom: 20px;
}
.client-logo-itmes {
    gap: 10px;
}
.client-logo-wrapper .individual-services-items {
    margin-top: 40px;
    padding: 35px 25px;
}
/* capabilities-showcase section */

/* expertise section */
.expertise-area .section-title-wrapper  h2 {
    margin-bottom: 20px;
}
.solution-section {
    margin-top: 30px;
}
.solution-section .table tbody td ,
.solution-section .table th {
    padding: 20px 15px;
    font-size: 16px;
}

/* expertise section */


}

/* max-width 767 */
@media (max-width: 767.98px) {


h1 {
	font-size: 50px;
}

h2 {
	font-size: 44px;
}

h3 {
	font-size: 36px;
}

h4 {
	font-size: 30px;
}

h5 {
	font-size: 24px;
}

/* capabilities-showcase section */
.tech-stack-area  .col {
    max-width: 100%;
}
/* capabilities-showcase section */


}

/* max-width 479 */
@media (max-width: 479.98px) {


}

/* max-width 383 */
@media (max-width: 383.98px) {

}